.Nav{
    background-color: #418596;
    display: flex;
    align-items: center;
    height: 92.5vh;
    justify-content: space-between;
    padding: 20px 10px;
    box-shadow: rgb(0 0 0 / 50%) 0px 10px 20px;
    flex-direction: column;
    border-radius: 10px;
}

.Nav div{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.Nav svg{
    width: 45px;
    padding: 10px;
}

.Nav .selected svg{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #418596;
    background-color: #FFFFFF;
}
