.Content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    height: 92.5vh;
    width: 100%;
    justify-items: center;
    grid-gap: 2.5vw;
    grid-gap: 2.5vw;
    gap: 2.5vw;
    overflow: auto;
}

.CardLeft, .CardRight{
    border-radius: 10px;
    background: #d4e0e4;
    border: 1 #FFF;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

.Title {
    width: 100%;
    text-align: center;
}

.LoginImg{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.Switch {
    color: black;
   
}

.ContainerSwitch{
    display: flex; 
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;
}

.InputDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

